[project]
	description = The Go Tour (Chinese version)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Minux (minux)
[access "refs/for/refs/*"]
	read = group user/Minux (minux)
	push = group user/Minux (minux)
	label-Code-Review = -2..+2 group user/Minux (minux)
	label-Verified = -1..+1 group user/Minux (minux)
	rebase = group user/Minux (minux)
	removeReviewer = group user/Minux (minux)
	submit = group user/Minux (minux)
[access "refs/heads/*"]
	read = group user/Minux (minux)
	create = group user/Minux (minux)
	push = +force group user/Minux (minux)
	pushMerge = group user/Minux (minux)
[access "refs/tags/*"]
	push = +force group user/Minux (minux)
	pushTag = group user/Minux (minux)
	pushSignedTag = group user/Minux (minux)
